/*  */
/*  */
/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
/*  */
/* フォント */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100&display=swap");
h6,
h5,
h4,
h3,
h2,
h1,
p,
li,
div {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
/*  */
/*  */
/* ロゴ */
a {
  text-decoration: none;
}

/*  */
/*  */
/* header */

.menu:hover {
  text-decoration: underline double;
}

/*  */
/*  */
/* .main-visual */
.container {
  height: 400px;
}

.skippr {
  width: 100%;
  margin: 0 auto;
}

.skippr > div {
  width: 100%;
  height: 100%;
}

.image {
  text-align: center;
}

/*  */
/*  */
/* main */
.main {
  width: 840px;
  height: 1400px;
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto;
}

/*  */
/*  */
/* タブ部分 */
/*  */
/*  */
.blog {
  width: 100%;
  height: 1400px;
}
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.wrap {
  width: 100%;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  height: 1310px;
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

/*  */
/*  */
/* footer */
footer {
  width: 100%;
  height: 120px;
  background-color: blue;
}

/* ---------------------------- */
/* ---- ハンバーガーアイコン ---- */
/* ---------------------------- */
#hm-icon {
  position: fixed;
  right: 34px;
  top: 0px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 38px;
  height: 14px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 70%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: grey;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

＃sp-menu h2 {
  color: #fff;
}

/*  */
/*  */
/* スライダー */
